# Firebase secrets
**/google-services.json
secrets.properties
buildDockerImage.sh
updateDockerImage.sh
#web/nohup.out

# Keystores
*.keystore
*.jks

# Build outputs
**/build/
**/out/

# IDE
.idea/
*.iml
.DS_Store

# Gradle
.gradle/
local.properties

# Node
node_modules/
dist/

# Misc
*.log
.env
.env.local
